google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
Scrapy
unicodecsv==0.14.1
requests==2.28.2
marshmallow-sqlalchemy==0.26.1
SQLAlchemy==1.4.46
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.39.0
urllib3==1.26.14
pg8000==1.29.4